{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <h1>Show Books by Author</h1>
        <form method="post">            
            {% for author in authors %}
                <input type="radio" name="name" value="{{ author.name }}"> {{ author.name }}<br>                
            {% endfor %}
            <input type="submit" value="Show">
        </form>
            
    <h1>Add Author</h1>        
    {{ form_start(form_create) }}
    {{ form_widget(form_create) }}
    {{ form_end(form_create) }}
    
    <h1>Authors</h1>
    <ul>
        {% for author in authors %}
            <li>            
                {{ author.name }}. Birthdate: {{ author.birthdate|date('Y-m-d') }}. 
                Gender: {{ author.gender }}.
                <a href="{{ path('author_edit', {'id': author.id}) }}">EDIT</a> 
                <a href="{{ path('author_delete', {'id': author.id}) }}">DELETE</a>
            </li>
        {% endfor %}        
    </ul>
    
{% endblock %}
