{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    
    {% for message in app.flashes('error') %}
        <div class="flash-notice" style="color: red;">
            {{ message }}
        </div>
    {% endfor %}    
    
    <h1>Show Books by Author</h1>
        <form method="post">            
            {% for author in authors %}
                <input type="radio" name="author_id" value="{{ author.id }}" 
                       {{ author.id == author_selected_id ? 'checked' : ''}}> {{ author.name }}<br>                
            {% endfor %}
            <input type="submit" value="Show">
        </form>
            
    {% if author_selected is not empty %}
        <h1>Books of {{ author_selected.name }}</h1>
        {% if author_selected.books is not empty %}
            {% for book in author_selected.books %}
                {% include 'book/book.html.twig' %}
                <br><br>
            {% endfor %}
        {% else %}    
            No books.            
        {% endif %}
    {% endif %}
            
    <h1>Add Author</h1>        
    {{ form_start(form_create) }}
    {{ form_widget(form_create) }}
    {{ form_end(form_create) }}
    
    <h1>Authors</h1>
    <ul>
        {% for author in authors %}
            <li>            
                {{ author.name }}. Birthdate: {{ author.birthdate|date('Y-m-d') }}. 
                Gender: {{ author.gender }}.
                <a href="{{ path('author_edit', {'id': author.id}) }}">EDIT</a> 
                <a href="{{ path('author_delete', {'id': author.id}) }}">DELETE</a>
            </li>
        {% endfor %}        
    </ul>
    
{% endblock %}
