<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <a href="{{ path('index')}}">[MAIN]</a> 
        <a href="{{ path('genres')}}">[GENRES]</a> 
        <a href="{{ path('authors')}}">[AUTHORS]</a> 
        <a href="{{ path('user_registration')}}">[REGISTER]</a> 
        <a href="{{ path('login')}}">[LOGIN]</a>
        {% block body %}
            
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
